server:
  port: 8080

spring:
  application:
    name: procuresecure
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/procuresecure}
    username: ${DB_USER:procuresecure}
    password: ${DB_PASS:procuresecure}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: info
